extends html, javascript, css

snippet vue "vue" b
<template>
	<div id="${0}">
	${1}
	</div>
</template>

<script>
export default {
	name: "${2}",
}
</script>

<style scoped>
${3}
</style>
endsnippet
